---
---


@import "{{ site.theme }}";
@media (min-width: 300px) and (max-width: 2000px){
  .page-header {
    background-image: url('https://eileenrmartin.github.io/img/waterfall.jpg');
    background-size: 2000px 400px;
    background-repeat: no-repeat;
  }
}
